@import "../font/iconfont.css";
@import "../font/font.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

li {
  list-style: none;
}

body {
  background-image: url("/image/bg.jpg");
  background-size: cover;
  position: relative;
}

#app {
  width: 100%;
  height: 100%;
}

.content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAFklEQVQIHWNgYGBI+///PwMIgwmsHAC5exhP0nQwxgAAAABJRU5ErkJggg==");
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.all-wrap {
  width: 300px;
  height: 300px;
  border-radius: 4px;
  box-shadow: 0 0 14px rgba(200, 200, 200, 0.8), inset 0 0 10px rgba(192, 192, 192, 0.6);
  background-color: rgba(255, 255, 255, 0.6);
  .title-img {
    animation-delay: 0.8s;
    width: 80px;
    margin: 0 auto;
    padding: 20px 0;
    cursor: pointer;
    font-size: 0;
    .img-wrap {
      animation-delay: 2s;
    }
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      transition: 1s;
      &:hover {
        transform: rotate(360deg);
      }
    }
  }
  .title-msg {
    width: 260px;
    padding: 15px 0;
    border-top: #000 1px solid;
    border-bottom: #000 1px solid;
    margin: 0 auto;
    font-size: 20px;
    font-weight: bolder;
    font-family: "index_font";
    line-height: 30px;
    text-align: center;
    animation-delay: 1.1s;
    position: relative;
    &:before {
      top: -5px;
    }
    &:after {
      bottom: -5px;
    }
    &:before,
    &:after {
      content: "";
      display: block;
      width: 7px;
      height: 7px;
      border: #000 1px solid;
      border-radius: 100%;
      margin-left: -5px;
      box-shadow: #fff 0 0 0 5px;
      opacity: 0.8;
      position: absolute;
      left: 50%;
      background: #fff;
    }
  }
  .link-wrap {
    height: 60px;
  }
  .title-link {
    width: 260px;
    padding: 10px 0;
    margin: 0 auto;
    .link-item {
      flex: auto;
      flex-wrap: wrap;
      a {
        width: 35px;
        height: 35px;
        border-bottom: 1px solid #000;
        border-radius: 50%;
        margin: 0 auto;
        text-decoration: none;
        color: #000;
        opacity: 0.5;
        transition: 1s;
        animation-delay: 2.2s;
        &:hover {
          opacity: 1;
        }
        i {
          font-size: 20px;
        }
      }
      &:nth-of-type(1) a {
        border-left: 1px solid #000;
      }
      &:nth-of-type(2) a {
        border-left: 1px solid #000;
      }
      // &:nth-of-type(3) a {
      //   border-right: 1px solid #000;
      // }
      &:nth-of-type(4) a {
        border-right: 1px solid #000;
      }
      &:nth-of-type(5) a {
        border-right: 1px solid #000;
      }
    }
  }
}
